.containerAll{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.subContainer{
    background-color: blue;
    width: 60%;
    height: 70%;
    
    
}